* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
  
}

.content h1 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #f6f8fc;
        width: 100%;
        height: 100%;
        margin: 1rem auto;
    }
    .content {
        max-width: 768px;
        margin: 0 auto;
        border-radius: 1rem;
    }
}
