
.normal { background-color: #939da3 }
.fire  { background-color: #f7786b }
.water  { background-color: #76bdfe }
.electric  { background-color: #ffce4b }
.grass  { background-color: #71df8e }
.ice  { background-color: #aee3fb }
.fighting  { background-color: #d56723 }
.poison  { background-color: #b563ce }
.ground  { background-color: #dec16b }
.flying  { background-color: #a3b3f7 }
.bug  { background-color: #92bd2d   }
.rock  { background-color: #c9bb8a }
.ghost  { background-color: #5f6dbc }
.dragon  { background-color: #6a7bfc }
.dark  { background-color: #8e8e8e }
.steel  { background-color: #c4c2db }
.fairy  { background-color: #ee90e6 }
.psychic { background-color: #f8a5c2 }
.special { background-color: #f8a5c2 }
.status { background-color: #f8a5c2 }

h1.pokemon-title {
    margin: 2rem .5rem;
    font-size: 2rem;
    color: #333;
}

ol.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.pokemon-list .pokemon-item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: .5rem;
    padding: 1rem;
    max-width: 100%;
}

ol.pokemon-list .pokemon-item a {
    color: #fff;
    text-decoration: none;
}

ol.pokemon-list .pokemon-item .pokemon-item-name {
    font-size: 1rem;
    margin: .25rem 0;
    text-transform: capitalize;
}


ol.pokemon-list .pokemon-item .pokemon-item-number {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: .625rem;
    color: rgba(255, 255, 255, 0.5);
    mix-blend-mode:lighten;
}

ol.pokemon-list .pokemon-item .pokemon-item-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ol.pokemon-list .pokemon-item .pokemon-item-detail ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


ol.pokemon-list .pokemon-item .pokemon-item-detail ol li {
    color: #fff;
    font-size: .625rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

ol.pokemon-list .pokemon-item .pokemon-item-detail ol li.pokemon-item-type {
    color: #fff;
    filter: brightness(1.1);
    text-align: center;
}

ol.pokemon-list .pokemon-item .pokemon-item-detail .pokemon-item-img {
    max-width: 100%;
    height: 70px;
}

section.pokemon-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}

section.pokemon-pagination button {
    background-color: #6c79bd;
    color: #fff;
    border: none;
    border-radius: .8rem;
    padding: .5rem 1rem;
    font-size: .8rem;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    ol.pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 320px) {
    ol.pokemon-list {
       display: block;
    }
}